@media (max-width: 1024px) {
  :root {
    --max-width: 920px;
  }
}

@media (max-width: 768px) {
  :root {
    --navbar-height: 64px;
  }

  .section {
    padding: 80px 20px;
  }
}

@media (max-width: 480px) {
  .section {
    padding: 64px 16px;
  }
}